@page "/counter"
@inject Timer Timer
<h1>Beer</h1>


<p>Krogen stänger om: @_time.ToString(@"hh\:mm\:ss")</p>



@code {
    private DateTime _date;
    protected TimeSpan _time;

    protected override void OnInitialized()
    {
        _date = new DateTime(2021, 02, 26, 20, 0, 0);
        _time = _date - DateTime.Now;
        Timer.Elapsed += OnTimedEvent;
        Timer.Start();
    }

    private void OnTimedEvent(Object source, System.Timers.ElapsedEventArgs e)
    {
        _time = _date - DateTime.Now;
        InvokeAsync(StateHasChanged);
    }
}
