@page "/counter"
@inject Timer Timer
<h1>Beer session</h1>

<p>Time left: @_time.ToString(@"hh\:mm\:ss")</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private DateTime _date;
    protected TimeSpan _time;

    private void IncrementCount()
    {
       // currentCount++;     
    }

    protected override void OnInitialized()
    {
        _date = new DateTime(2021, 02, 26, 17, 0, 0);
        _time = _date - DateTime.Now;
        Timer.Elapsed += OnTimedEvent;
        Timer.Start();
    }

    private void OnTimedEvent(Object source, System.Timers.ElapsedEventArgs e)
    {
        _time = _date - DateTime.Now;
        InvokeAsync(StateHasChanged);
    }
}
