@page "/counter"
@inject AppState AppState
@implements IDisposable

<MudText Typo="Typo.h5">Json Report</MudText>

@if (AppState.JsonObjects.Count == 0)
{
    <p>Upload a Json</p>
}
else
{
    <MudText Typo="Typo.body1">Number of Json @AppState.JsonObjects.Count</MudText>
}


@code {
    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }
}
