@page "/"

<h1>Json Viewer!</h1>

<p>
    <InputFile OnChange="@OnInputFileChange" style="background-color: aliceblue;" />
</p>

<div class="card" style="width:30rem;">
    <div class="card-body">
        @foreach (var imageDataUrl in orders)
        {
            <p>@imageDataUrl</p>
        }
    </div>
</div>
<p>@_content</p>


@code {
    private string _content = "";
    List<string> orders = new List<string>();

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        IBrowserFile imgFile = e.File;
        var buffers = new byte[imgFile.Size];
        await imgFile.OpenReadStream().ReadAsync(buffers);
        string bla = Encoding.UTF8.GetString(buffers);
        Console.WriteLine("new ifle");

        //JsonDocument docu = JsonDocument.Parse(bla);
        using (JsonDocument doc = JsonDocument.Parse(bla))
        {
            JsonElement root = doc.RootElement;

            var enumi = root.EnumerateObject().ToList();
            foreach (var item in enumi)
            {
                JsonElement ele = item.Value;
                if(ele.ValueKind is JsonValueKind.Array)
                {

                }
                else if(ele.ValueKind is JsonValueKind.Object)
                {

                }
                orders.Add(ele.ValueKind + " - " + item.ToString());
                // str += item.ToString() + "<br>";
            }
        }

        _content = bla;
    }

    void ButtonClicked()
    {
        _content = "dsds";
        Console.WriteLine("new clickck");
    }
}