@page "/"

<h1>Json Viewer!</h1>

<p>
    <InputFile OnChange="@OnInputFileChange"  />
</p>

<p>@_content</p>


@code {
    private string _content = "";

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        IBrowserFile imgFile = e.File;
        var buffers = new byte[imgFile.Size];
        await imgFile.OpenReadStream().ReadAsync(buffers);
        string bla = Encoding.UTF8.GetString(buffers);
        Console.WriteLine("new ifle");

        var options = new JsonSerializerOptions
            {
                WriteIndented = true,
            };

        JsonDocument docu = JsonSerializer.Deserialize<JsonDocument>(bla, options);
        _content = docu.RootElement.ToString();
    }

     void ButtonClicked()
  {
    _content = "dsds";
    Console.WriteLine("new clickck");
  }
}