@page "/"

<h1>Json Viewer!</h1>

<p>
    <InputFile OnChange="@OnInputFileChange" />
</p>

<RadzenTree Data=@JsonList Style="width: 100%; height: 100%">
    <RadzenTreeLevel TextProperty="Name" ChildrenProperty="Children" HasChildren=@(e => (e as JsonTest).Children.Count > 0) />
</RadzenTree>



@code {
    List<JsonTest> JsonList = new List<JsonTest>();


    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        IBrowserFile imgFile = e.File;
        var buffers = new byte[imgFile.Size];
        await imgFile.OpenReadStream().ReadAsync(buffers);
        string bla = Encoding.UTF8.GetString(buffers);

        using (JsonDocument doc = JsonDocument.Parse(bla))
        {
            Recursive(null, doc.RootElement, "Root");
        }
    }

    private void Recursive(JsonTest parent, JsonElement element, string name)
    {
        if (element.ValueKind is JsonValueKind.Object)
        {
            var newObject = new JsonTest(name +  " <" + element.ValueKind + ">", element.Clone());
            if (parent != null)
                parent.Children.Add(newObject);

            parent = newObject;

            if (JsonList.Count == 0)
            {
                JsonList.Add(parent);
            }

            var array = element.EnumerateObject();
            foreach (var item in array)
            {
                Recursive(parent, item.Value, item.Name);
            }
        }
        else if (element.ValueKind is JsonValueKind.Array)
        {
            var newparent = new JsonTest(name +  " <" + element.ValueKind + ">", element.Clone());
            parent.Children.Add(newparent);
            parent = newparent;

            var array = element.EnumerateArray();
            foreach (var item in array)
            {
                Recursive(parent, item, parent.Children.Count.ToString());
            }
        }
        else
        {
            parent.Children.Add(new JsonTest(name + " : " + element.ToString() + " <" + element.ValueKind + ">", element.Clone()));
        }
    }

    public class JsonTest
    {
        public string Name { get; set; }
        public List<JsonTest> Children { get; set; }
        public JsonElement Json { get; set; }

        public JsonTest(string name, JsonElement json)
        {
            Name = name;
            Children = new List<JsonTest>();
            Json = json;
        }
    }
}