@page "/"

<h1>Json Viewer!</h1>

Welcome to your new app.

<p>
    <InputFile OnChange="@OnInputFileChange"  />
</p>

<p>@_content</p>


@code {
    private string _content = "";

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        IBrowserFile imgFile = e.File;
        var buffers = new byte[imgFile.Size];
        await imgFile.OpenReadStream().ReadAsync(buffers);
        _content = Encoding.UTF8.GetString(buffers);
    }
}