@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        
        <div class="content px-4">
            <h1>Vecka: @currentWeek</h1>
        </div>
    </div>
</div>



@code {
    private int currentWeek = 0;

    protected override void OnInitialized()
    {
       var cc = CultureInfo.CreateSpecificCulture("sv-SE");
       currentWeek = cc.Calendar.GetWeekOfYear(DateTime.Now, cc.DateTimeFormat.CalendarWeekRule, cc.DateTimeFormat.FirstDayOfWeek);
    }
}